<!-- views/partials/header.ejs-->
<header id="header" class="header-secundaria">
    <nav class="navbar">
      <div class="container">
        <div class="logo">
            <a href="/"><img class="logo" src="/img/logo.png"></a>      
        </div>  
        <ul>
          <li><a href="#" class="active">Nosotros</a></li>
          <li><a href="#">Admisión</a></li>
          <li><a href="#">Plan de Estudio</a></li>
          <li><a href="#">Calendario Escolar</a></li>
          <li><a href="#">Galeria</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Otros</a></li>
          <li><a href="#">Productos</a></li>
        </ul>
        <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Registro</a></li>
          </ul>
      </div>
    </nav>
    <div class="header_background">
      <img src="../img/header_background0.JPG"  alt="header_background">
    </div>
    <div id="slogan" class="slogan">
      <h1>"Educando para la vida, con equidad y calidad"</h1>
    </div>     
  </header>