<!-- views/partials/header.ejs-->
<header id="header" class="header-secundaria">
    <nav class="navbar">
      <div class="container">
        <div class="logo">
            <a href="/"><img class="logo" src="/img/logo.png"></a>      
        </div>  
        <ul>
          <li><a href="nosotros" class="active">Nosotros</a></li>
          <li><a href="admision">Admisión</a></li>
          <li><a href="plan">Plan de Estudio</a></li>
          <li><a href="calendario">Calendario Escolar</a></li>
          <li><a href="galeria">Galeria</a></li>
          <li><a href="contacto">Contacto</a></li>
          <li><a href="otros">Otros</a></li>
          <li><a href="productos">Productos</a></li>
        </ul>
        <ul>
            <li><a href="login">Login</a></li>
            <li><a href="register">Registro</a></li>
          </ul>
      </div>
    </nav>
    <div class="header_background">
      <img src="../img/header_background0.JPG"  alt="header_background">
    </div>
    <div id="slogan" class="slogan">
      <h1>"Educando para la vida, con equidad y calidad"</h1>
    </div>     
  </header>