<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        <br><br><br><br><br><br>
        <form action="/" method="POST">
            <div>
                <input class="input" type="text" name="nUsuario" placeholder="   Nombre de usuario">
            </div>
            <br>
            <div>
                <input class="input" type="password" name="password" placeholder="   Elegí tu contraseña">
            </div>
            <br>
            <div>
                <button class="login" type="submit">Enviar</button>
            </div>
            <br>
            <br>
        </form>
    </main>
    <br><br><br><br><br><br>
    <%- include ('./partials/footer.ejs') %>  
</body>
</html>