
.slider-anuncios{
    margin: 1em 1em;
    padding: 0px 50px;
    display: flex;
    align-items: center;
}
.slider-anuncios img{
    display: block;
    width: 50%;
    margin: auto;
}

.slider-anuncios h1{
    margin: 1rem 0;
}


.boxes {
    display: grid;
    grid-template-columns: repeat(6, 300px);
    grid-gap: 50px;
    position: relative;
}

.box {
    border: 1px solid #ccc;
    border-radius: 1rem;
    overflow: hidden;
}
