
.content .slider-anuncios{
    margin: 0 auto;
    padding: 0px 50px;
    padding-top: 10ex;
    display: flex;
    align-items: center;
}
.content .slider-anuncios img{
    width: 40%;
}

.slider-anuncios h1{
    margin: 0.5rem 0;
}


.boxes {
    display: grid;
    grid-template-columns: repeat(6, 300px);
    grid-gap: 50px;
}

.box {
    border: 1px solid #ccc;
    border-radius: 1rem;
    overflow: hidden;
}
