<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <%- include ('./partials/header.ejs') %>
    <main>
        <br><br><br><br><br><br>
        <form action="/" method="POST" class="contactoFormulario" id="contactoFormaulario">
            <div class="formCreate1">
                <label class="label" ><b>Nombre</b></label><br>
                <input class="input name" type="text" name="UsuarioNombre"><p id="errorNombre"></p>
                <br>
                <label class="label" ><b>Correo</b></label><br>
                <input class="input" type="text" name="UsuarioEmail"><br>

                <label class="label" ><b>Teléfono</b></label><br>
                <input class="input" type="text" name="UsuarioConfirma"><br>

                <label class="label" ><b>Consulta</b></label><br>
                <textarea class="input" name="consulta" cols="30" rows="4"></textarea><br>

                <button class="login" type="submit">Enviar</button><br><br>
                <br>
            </div>
        </form>
    </main>
    <%- include ('./partials/footer.ejs') %>
    <script src="../../javascripts/contactoAddValidation.js"></script>
</body>
</html>
