<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        <form action="/" method="POST" class="loginFormulario" id="loginFormaulario">
            <div class="formCreate1">
                <div>
                    <label class="label" ><b>Correo</b></label><br>
                    <input class="input email" type="text" name="UsuarioEmail"><p id="errorEmail"></p><br>
                </div>
                <br>
                <div>
                    <label class="label" ><b>Contraseña</b></label><br>
                    <input class="input contrasena" type="password" name="password"><p id="errorContrasena"></p><br>
                </div>
                <br>
                <div>
                    <button class="login" type="submit">login</button>
                </div>
                <br>
                <a class="crearCuenta" href="register">Crear Cuenta</a>
                <br>
            </div>
        </form>
    </main>
    <%- include ('./partials/footer.ejs') %>  
    <script src="../../javascripts/loginAddValidation.js"></script>
</body>
</html>