<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    
    <main>

        <section class="container">
            <div class="content">
                <br>
                <h2>Plan de estudios</h2>
        
                <p>

    * Curricula(Oferta educativa) o Tronco común <br>
	* Inglés: División de grupos para alumnos avanzados <br>
	* Talleres(danza, artes gráficas, teatro y música)<br>
	* Atención a la educación socio-emocional(énfasis en actividades que solo se imparten en la escuela) <br>
	* Sistema de evaluación<br>
                </p>
        

            </div>

        </section>
       
    </main>


    <%- include ('./partials/footer.ejs') %>
</body>
</html>