<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        <form action="/" method="POST" class="registroFormulario" id="registroFormaulario">
            <div class="formCreate1">
                <label class="label" ><b>Nombre</b></label><br>
                <input class="input nombre" type="text" name="UsuarioNombre"><p id="errorNombre"></p><br>

                <label class="label" ><b>Apellidos</b></label><br>
                <input class="input apellidos" type="text" name="UsuarioApellidos"><p id="errorApellidos"></p><br>

                <label class="label" ><b>Correo</b></label><br>
                <input class="input email" type="text" name="UsuarioEmail"><p id="errorEmail"></p><br>

                <label class="label" ><b>Confirmar correo</b></label><br>
                <input class="input confirmar" type="text" name="UsuarioConfirma"><p id="errorConfirmar"></p><br>

                <label class="label" ><b>Contraseña</b></label><br>
                <input class="input contrasena" type="password" name="password"><p id="errorContrasena"></p><br>

                <button class="login" type="submit">Crear cuenta</button><br><br>

                <a class="crearCuenta" href="login">Ya tengo cuenta</a>
                <br>
            </div>
        </form><br><br>
    </main><br>
    <%- include ('./partials/footer.ejs') %>
    <script src="../../javascripts/registerAddValidation.js"></script>
</body>
</html>