<!-- views/partials/footer.ejs-->
    <footer id="footer">
        <div class="footerInfo">
            <div id="logo_footer"></div>
            <br><br>
            <p>Escuela Secundaria General Particular "Libertadores de América"</p>
            <br>
            <p>Clave: 20PES0125Q</p><br>
            
           
            <br><br>
            <p>Redes sociales</p><br>
            <p><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</p>
            <p><i class="fa fa-commenting" aria-hidden="true"></i>
                Messenger</p>
            <br><br>
           
        </div>
        <div class="footerInfo" >
            <div>
                <p>Teléfono:</p>
                <p>+52 954 559 4411</p>
                <br> <p>Correo: <br><a href="mailto:">sec.gral.libertadoresdeamerica@gmail.com</a></p><br>
                <p>Dirección:</p>
                <p>Tamarindos #806, Sector Almendros, Puerto escondido, Oaxaca.</p>
            </div>
            <br>
            <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15350.222692743951!2d-97.09368117978354!3d15.879933601964522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85b8f7932f3855ab%3A0xe9342521a04824a0!2sEscuela%20Secundaria%20General%20Particular%20Libertadores%20de%20America!5e0!3m2!1ses-419!2smx!4v1646321290544!5m2!1ses-419!2smx"   style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            
        </div>
    </footer>

    <p>Escuela Secundaria General Particular "Libertadores de América". <br>
        Todos los derechos reservados 2022.</p>
</body>
</html>    
