  <!-- views/partials/header.ejs-->
  <header class="header">
    <div class="content">
      <nav class="navbar">
        <div class="container">
          <div class="logo">
              <a href="/"><img class="logo" src="/img/logo.png"></a>      
          </div>  
          <ul>
            <li><a href="/" class="active">Inicio</a></li>
            <li><a href="nosotros">Nosotros</a></li>
            <li><a href="admision">Admisión</a></li>
            <li><a href="plan">Plan de Estudios</a></li>
            <li><a href="calendario">Calendario Escolar</a></li>
           
            <li><a href="contacto">Contacto</a></li>

          
              <!--
 <li><a href="galeria">Galeria</a></li>
  <li><a href="otros">Otros</a></li>
<li><a href="productos">Productos</a></li>

               -->
          </ul>
          <ul>
              <li><a href="login">Login</a></li>
              <li><a href="register">Registro</a></li>
            </ul>
        </div>
      </nav>
    </div>
      
    <div class="content">
      <div class="header_background">
        <img src="../img/header_background0.JPG"  alt="header_background">
        <div class="slogan">
          <h1>Escuela Secundaria Libertadores de América</h1>
          <p>"Educando para la vida, con equidad y calidad"</p>
        </div>
      </div>
      
    </div>
      <script src= "/javascripts/fixedScroll.js" type="text/javascript"></script>     
  </header>