<!DOCTYPE html>
<html lang="en">
<!-- views/partials/head.ejs-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secundaria Libertadores</title>
    <link rel="stylesheet" href="/css/styles1.css">
    <script src="https://use.fontawesome.com/4e0248bc81.js"></script>
</head>