<section class="container content">
    <div class="content">
        <div class="slider-anuncios">
            <div class="slider-container">
                <div class="boxes">
                    <div class="box">
                        <img src="./img/anuncios/inscripciones2022.jpg" alt="anuncio">
                        <div class="box">
                            <h1>Titulo1 </h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit!.</p>
                        </div>
                    </div>
                </div>
                <div class="boxes">
                    <div class="box">
                        <img src="./img/anuncios/inscripciones2021.jpg" alt="anuncio">
                        <div class="box">
                            <h1>Titulo2 </h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit!.</p>
                        </div>
                    </div>
                </div>
                <div class="boxes">
                    <div class="box">
                        <img src="./img/anuncios/inscripciones2022.jpg" alt="anuncio">
                        <div class="box">
                            <h1>Titulo3 </h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit!.</p>
                        </div>
                    </div>
                </div>
                <div class="boxes">
                    <div class="box">
                        <img src="./img/anuncios/inscripciones2021.jpg" alt="anuncio">
                        <div class="box">
                            <h1>Titulo4 </h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit!.</p>
                        </div>
                    </div>
                </div>
                <div class="boxes">
                    <div class="box">
                        <img src="./img/anuncios/inscripciones2022.jpg" alt="anuncio">
                        <div class="box">
                            <h1>Titulo3 </h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit!.</p>
                        </div>
                    </div>
                </div>
                <div class="boxes">
                    <div class="box">
                        <img src="./img/anuncios/inscripciones2021.jpg" alt="anuncio">
                        <div class="box">
                            <h1>Titulo4 </h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit!.</p>
                        </div>
                    </div>
                </div>
                <div class="boxes">
                    <div class="box">
                        <img src="./img/anuncios/inscripciones2022.jpg" alt="anuncio">
                        <div class="box">
                            <h1>Titulo5 </h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit!.</p>
                        </div>
                    </div>
                </div>
                <div class="boxes">
                    <div class="box">
                        <img src="./img/anuncios/inscripciones2021.jpg" alt="anuncio">
                        <div class="box">
                            <h1>Titulo6 </h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit!.</p>
                        </div>
                    </div>
                </div>
                <div class="boxes">
                    <div class="box">
                        <img src="./img/anuncios/inscripciones2022.jpg" alt="anuncio">
                        <div class="box">
                            <h1>Titulo7 </h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit!.</p>
                        </div>
                    </div>
                </div>
                <div class="boxes">
                    <div class="box">
                        <img src="./img/anuncios/inscripciones2021.jpg" alt="anuncio">
                        <div class="box">
                            <h1>Titulo8 </h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit!.</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>