<section class="container content">
    <h2>Anuncios recientes</h2>
    <div class="content">
        <div class="slider-anuncios">
            <div class="slider-container">
                <div class="boxes">
                    <% for(const anuncio of anuncios) { %>
                    <article class="">
                        <a href="/anuncios/detalle/<%= anuncio.id %>"">
                            <img src="/img/anuncios/<%= anuncio.archivo %>"" alt="anuncio">
                        </a>
                        <div class="box">
                            <h1><%= anuncio.titulo %></h1>
                            <p><%= anuncio.descripcion %></p>
                        </div>
                    </article>
                    <% } %>
                </div>
            </div>
            
        </div>
    </div>
</section>