<section class="container">
    <div class="content">
        <h2>Anuncios recientes</h2>
        <div class="slider-anuncios">
            <div class="slider-container">
                <div class="boxes">
                    <% for(const anuncio of anuncios) { %>
                    <article class="">
                        <div class="box">
                            <h2><%= anuncio.titulo %></h2>
                            <a href="/anuncios/<%= anuncio.id %>"">
                                <img src="/img/anuncios/<%= anuncio.archivo %>"" alt="anuncio">
                            </a>
                            <p><%= anuncio.descripcion %></p>
                        </div>
                    </article>
                    <% } %>
                </div>
                
            </div>       
        </div>
    </div>
</section>